<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Henry Romeu</title>
</head>
<body>
    
    <header>
                <h1>Sejam Bem vindos a Villa host</h1>
    </header>
    <menu>
        <a href="{{ url_for ('planos')}}">veja nosso estoque </a>
    </menu>
    <main>
                <h2>Conheça nossos planos de hospedagem</h2>
    </main>
    <footer>
                <h3>Desenvolvido por Henry Romeu</h3>
                <img src="{{ url_for('static', filename='logo.png') }}" width="200px" height="200px">
    </footer>
</body>
</html>